body {
  background-color: thistle;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "quicksand";
  text-align: center;
}
a {
  text-decoration:none;
}

/*headers and paragraphs*/
.heading {
  color: whitesmoke;
  font-family: "quicksand";
  text-align: center;
  margin: 25px 50px;
}
.blurb {
  color: whitesmoke;
  font-family: "quicksand";
  font-size: 18px;
  margin: 25px 50px;
}
.main {
  padding: 25px 50px;
  border: dashed;
  margin: 25px 50px;
}
.blurb {
  color: whitesmoke;
  font-family: "quicksand";
}

/* navigation bar */
.navbarnav {
  list-style-type: none;
  background-color: transparent;
}
.navbar {
  min-height: 50px; // your value here.
}
.navbarnav {
  overflow: hidden;
  min-heigh: 50px;
}
.nav-link {
  color: darkseagreen;
  cursor: pointer;
  font-family: "quicksand";
}
.nav-item {
  float: left;
  font-family: "quicksand";
  color: darkseagreen;
}
.nav-link {
  color: darkseagreen;
  font-family: "quicksand";
}
.nav-link:hover {
  color: floralwhite;
  font-family: "quicksand";
}
.navbar-brand {
  color: lightcoral;
  font-family: "quicksand";
  padding: 15px 15px;
  height: 50px;
}
.navbar-brand:hover {
  color: lightcoral;
  font-family: "quicksand";
  padding: none;
  margin: none;
}
.navbar-collapse {
  justify-content: flex-end;
}

/* image gallery - responsive image grid w3schools */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 50%;
  }
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: darkseagreen;
  color: cornsilk;
  border: solid;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: cornsilk;
  font-size: 15px;
  font-family: "quicksand";
  position: absolute;
  top: 50%;
  left: 50%;
  border: dashed 2px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}
.text-recent-works {
  color: cornsilk;
  font-size: 15px;
  font-family: "quicksand";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  border: dashed 2px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.caption {
  color: cornsilk;
  font-family: "quicksand";
  text-decoration: none;
  text-align: center;
  border: dashed;
  padding: 5px 5px 5px 5px;
  max-width: 100%;
  margin: auto;
}
