body {
  background-color: seashell;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
a {
  text-decoration:none;
}

/*headers and paragraphs*/
.heading {
  color: lightcoral;
  font-family: "quicksand";
}
.blurb {
  color: lightcoral;
  font-family: "quicksand";
  font-size: 18px;
}
.main {
  text-align: center;
}
.blurb {
  color: lightcoral;
  font-family: "quicksand";
}

/* navigation bar */
.navbarnav {
  list-style-type: none;
  background-color: lightcoral;
}
.navbar {
  min-height: 50px; // your value here.
}
.navbarnav {
  overflow: hidden;
  min-heigh: 50px;
}
.nav-link {
  color: floralwhite;
  cursor: pointer;
  font-family: "quicksand";
}
.nav-item {
  float: left;
  font-family: "quicksand";
  color: floralwhite;
}
.nav-link {
  color: floralwhite;
  font-family: "quicksand";
}
.nav-link:hover {
  color: floralwhite;
  font-family: "quicksand";
}
.navbar-brand {
  color: lightcoral;
  font-family: "quicksand";
  padding: 15px 15px;
  height: 50px;
}
.navbar-brand:hover {
  color: lightcoral;
  font-family: "quicksand";
  padding: none;
  margin: none;
}
.navbar-collapse {
  justify-content: flex-end;
}

/* image gallery */
.galleryimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.caption {
  font-family: "quicksand";
  color: lightcoral;
  text-align: center;
  text-decoration: none;
}
